doctype html
html
    head
        meta(charset='UTF-8')
        title Bayou
        link(rel='stylesheet', href='/style.css')

<a href="/">Back to Bayou Home</a>

<hr>

h2 Home Page for Feed "#{feed_name}"

pre
    code <a href="">http://#{base_url}/data/#{feed_pubkey}</a>

p.high <b>Public Key:</b> #{feed_pubkey}
p.high <b>Private Key:</b> [Secret]

h2 Download Feed Data

p <b>All feed data</b>: <a href="/data/#{feed_pubkey}/csv/">CSV</a> | <a href="/data/#{feed_pubkey}/json/">JSON</a>

p <b>Most recent upload only</b>: <a href="/data/#{feed_pubkey}/json/">JSON</a>

<hr>

<a href="/">Back to Bayou Home</a>
